*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    margin:0;
    background-color: #7b66af;
}


.header{
    display: flex;
    background-color: #67578f;
    height: 85px;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    z-index: 99;
}

/* .logo{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    width:40px;
    height:40px;
    cursor: pointer;
} */

.logo{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(244, 245, 161); 
    
}

.menu-bar{
    display: flex;
    flex-direction: row;
    gap:100px;
    padding-right: 40px;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
}

.menu-bar > a:hover{
    color: rgb(244, 245, 161);
}

.menu-bar > a:link{
    text-decoration: none;
}

.menu-bar > a{
    font-weight: 500;
    color: #3b344c;
}

/*******************    content section         ****************/

.body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100dvh;
}

.body-inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:100px;
    width:80%;
}

.text-content{
    margin: 10px;
}
.text-content > p {
    width:80%;
    color: white;
    word-spacing: 2px;
    line-height: 1.5;
}

.text-content > h4{
    margin-bottom: 6px;
    color: white;
}

.text-content > h1{
    margin-bottom: 6px;
    color: white;
}

.but{
    border: none;
    border-radius: 5px;
    background-color: #ead4b8;
    padding: 10px 14px;
    margin-top: 16px;
    cursor: pointer;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

.but:hover{
    background-color: #f0e3d7;  
}

.profile{
    border-radius: 300px;
}

.profile-pic > img{
    border:1px solid #ead4b8;
    padding: 12px;
}

/*********** about Page ************/

#aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.aboutme-content{
    display: flex;
    flex-direction: column;
    width:80%;
    gap: 20px;
}

.about-h2{
    position: relative;
}

.about-h2::before{
    content:"";
    position: absolute;
    background-color: #ead4b8;
    width:80px;
    height: 3px;
    z-index: 1;
    bottom: -4px;

}

.aboutme-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height:350px;
    
}

.aboutme{
    border:1px solid #ead4b8;
    border-radius: 10px;
    gap: 20px;
    color: white;
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #67578f;
}
.aboutme-content > h2{
    color: rgb(221, 223, 124);
}

.aboutme > p {
    font-size:1rem;
    padding: 8px;
}

.skills{
    width: 30%;
    height: 100%;
    border:2px solid #ead4b8;
    border-radius: 10px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #67578f;

}

/* .skills > img{
    border:1px solid #ead4b8;
    padding: 12px;
} */    

.logo-pic{
    width: 100px;
    height: 100px;
    background-color: white;
}


/*********** project Page ************/

#projects{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.proj-wrap{
    display: flex;
    justify-content: start;
}

.proj-name {
    position: relative;
    color:rgb(221, 223, 124);
}

.proj-name::before{
    content:"";
    position: absolute;
    width:80px;
    height:3px;
    background-color: #ead4b8;
    z-index: 1;
    bottom: -4px;
}


.projects-inner{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
}

.project-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #ead4b8;
    background-color: #67578f;
    padding: 30px;
    border-radius: 10px;
}
.project1-desc > p, .project2-desc > p, .project3-desc > p{ 
    width:80%;
}

.project1-desc , .project2-desc, .project3-desc{  
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.project-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #ead4b8;
    background-color: #67578f;
    padding: 30px;
    border-radius: 10px;
}

.project-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #ead4b8;
    background-color: #67578f;
    padding: 30px;
    border-radius: 10px;
}

.project11-img, .project33-img{
    border-radius: 100px;
}

.project22-img{
    border-radius: 100px;
    object-fit: center;
}

.proj-wrap{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:20px;
    width:80%;
}


/*********** contact Page ************/

#contact{
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.contact-h1{
    position: relative;
    color:rgb(221, 223, 124);
    padding-top: 50px;
}

.contact-h1::before{
    content:"";
    position: absolute;
    width:80px;
    height:3px;
    background-color: #ead4b8;
    z-index: 1;
    bottom: -4px;
}

.contact-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
    border: 3px solid #ead4b8;
    border-radius: 10px;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100%;
    width: 40%;
}

.contact-form > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    padding: 20px;
}

form > .form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group > textarea {
    height: 100px;
    border: 1px solid #ead4b8;
    border-radius: 5px;
}

.form-group > input{
    padding: 10px;
    border: 1px solid #ead4b8;
    border-radius: 5px;
}

.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    width: 30%;
    padding: 20px;

}

.social-links > a{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    text-decoration: none;
}

.submit{
    width:100px;
}